# This workflow installs Python dependencies, runs tests
# Info: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [ '3.10', '3.12', '3.13' ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install Dependencies
        run: python -m pip install --user pytest pytest-cov

      - name: Run unit tests
        run: pytest test/ --cov=treescriptify_text --cov-report=html --cov-fail-under=85

      - name: Upload Test Coverage Reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: treescriptify-text-${{ matrix.python-version }}-cov
          path: htmlcov/
